.controlsBar {
  padding-block: var(--space-block);
  border-bottom: 1px solid var(--color-border-default);
}

.controls {
  display: flex;
  gap: var(--space-block);
  align-items: flex-end;
  flex-wrap: wrap;
}

.controls > * {
  min-width: 220px;
}

.count {
  color: var(--color-text-on-dark);
  opacity: 0.7;
}

.body {
  padding-block: var(--space-section);
}
